.navbar-text{
    color: whitesmoke;
    font-size: large;
    background-color: #4F2097;
    
}

.store-header{
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 4.5rem;
}

.store-subtitle{
    color:beige;
    text-align: center;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
}